@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");

h2 {
  font-family: "Big Shoulders Display", sans-serif;
}

p,
button {
  font-family: "Lexend Deca", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /* ### Neutral */
  /* (paragraphs) */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --Very-light-gray: hsl(0, 0%, 95%);
}

.boss {
  max-width: 900px;
  /* width: 800px; */
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-content: center; */
  margin: 150px auto;
  /* margin-top: 150px; */
}

/* MEDIA QUERY FOR BOSS FROM 500PX TO 0PX */
@media (max-width: 500px) {
  .boss {
    max-width: 300px;
    height: 500px;
    grid-template-columns: 1fr;
    margin-bottom: 800px;
  }
}
/* ====================== */
.sedans {
  max-width: 300px;
  height: 320px;
  background-color: var(--Bright-orange);
  padding: 50px 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sedans h2 {
  color: var(--Very-light-gray);
  margin: 25px 0;
  font-weight: 700;
}

.sedans p {
  color: var(--Transparent-white);
  line-height: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 400;
  padding-right: 10px;
}

.sedans button {
  color: var(--Bright-orange);
  background-color: var(--Very-light-gray);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 400;
}

.sedans button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Bright-orange);
  border: 2px solid var(--Very-light-gray);
}

/* MEDIA QUERY FOR SEDAN FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .sedans {
    height: 270px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .sedans p {
    margin-bottom: 25px;
  }
}
/* ===================== */
.suv {
  max-width: 300px;
  height: 320px;
  background-color: var(--Dark-cyan);
  padding: 50px 50px;
}

.suv h2 {
  color: var(--Very-light-gray);
  margin: 25px 0;
  font-weight: 700;
}

.suv p {
  color: var(--Transparent-white);
  line-height: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 400;
  padding-right: 15px;
}

.suv button {
  color: var(--Dark-cyan);
  background-color: var(--Very-light-gray);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 400;
}

.suv button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Dark-cyan);
  border: 2px solid var(--Very-light-gray);
}

/* MEDIA QUERY FOR SUV */
@media (max-width: 500px) {
  .suv {
    height: 270px;
  }
  .suv p {
    margin-bottom: 25px;
  }
}
/* ============================ */
.luxury {
  max-width: 300px;
  height: 320px;
  background-color: var(--Very-dark-cyan);
  padding: 50px 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury h2 {
  color: var(--Very-light-gray);
  margin: 25px 0;
  font-weight: 700;
}

.luxury p {
  color: var(--Transparent-white);
  line-height: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 400;
  padding-right: 12px;
}

.luxury button {
  color: var(--Very-dark-cyan);
  background-color: var(--Very-light-gray);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-weight: 400;
}

.luxury button:hover {
  color: var(--Very-light-gray);
  background-color: var(--Very-dark-cyan);
  border: 2px solid var(--Very-light-gray);
}

/* MEDIA QUERY */
@media (max-width: 500px) {
  .luxury {
    height: 270px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .luxury p {
    margin-bottom: 25px;
  }
}
